.main-container{
  min-height: 80vh;
}

.recipes-list {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
justify-items: center;
align-items: center;
gap: 10px;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}